<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-square70x70logo" content="/images/favicons/site-tile-70x70.png">
<meta name="msapplication-square150x150logo" content="/images/favicons/site-tile-150x150.png">
<meta name="msapplication-wide310x150logo" content="/images/favicons/site-tile-310x150.png">
<meta name="msapplication-square310x310logo" content="/images/favicons/site-tile-310x310.png">
<meta name="msapplication-TileColor" content="#0078d7">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicons/favicon.ico">
<link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="36x36" href="/images/favicons/android-chrome-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicons/android-chrome-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="/images/favicons/android-chrome-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/android-chrome-96x96.png">
<link rel="icon" type="image/png" sizes="128x128" href="/images/favicons/android-chrome-128x128.png">
<link rel="icon" type="image/png" sizes="144x144" href="/images/favicons/android-chrome-144x144.png">
<link rel="icon" type="image/png" sizes="152x152" href="/images/favicons/android-chrome-152x152.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="256x256" href="/images/favicons/android-chrome-256x256.png">
<link rel="icon" type="image/png" sizes="384x384" href="/images/favicons/android-chrome-384x384.png">
<link rel="icon" type="image/png" sizes="512x512" href="/images/favicons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="36x36" href="/images/favicons/icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicons/icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="/images/favicons/icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/icon-96x96.png">
<link rel="icon" type="image/png" sizes="128x128" href="/images/favicons/icon-128x128.png">
<link rel="icon" type="image/png" sizes="144x144" href="/images/favicons/icon-144x144.png">
<link rel="icon" type="image/png" sizes="152x152" href="/images/favicons/icon-152x152.png">
<link rel="icon" type="image/png" sizes="160x160" href="/images/favicons/icon-160x160.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/icon-192x192.png">
<link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/icon-196x196.png">
<link rel="icon" type="image/png" sizes="256x256" href="/images/favicons/icon-256x256.png">
<link rel="icon" type="image/png" sizes="384x384" href="/images/favicons/icon-384x384.png">
<link rel="icon" type="image/png" sizes="512x512" href="/images/favicons/icon-512x512.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/icon-16x16.png">
<link rel="icon" type="image/png" sizes="24x24" href="/images/favicons/icon-24x24.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/icon-32x32.png">
<link rel="manifest" href="/manifest.json">
<title><%= process.env.app_title %></title>
<script src="/jquery/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/vui.css?<%= new Date() %>">
<%- include('./common/twcard') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js" integrity="sha512-tXH7Av8en7+/hg0XwBppaCDPmpJhUXbZ+j7lNC4y+ZQpmCZQcgQN6RjkM7Irj1MUW7bZengfuTOqR4RzCC4bnA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js" integrity="sha256-CFWtR1hGN/5Vc+kcJkqeMFND0g6gFFZdnSqUtdL7WOQ=" crossorigin="anonymous"></script>
<style>
    .vui.guest.count{
        position:absolute;
        top:10px;
        left:10px;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:rgba(0,0,0,0.7);
        color:#fff;
        font-size:14px;
        font-weight:bold;
        border-radius:10px;
        padding:10px;
        margin:0px;
        z-index:100;
    }
    .vui.guest.count .material-icons-outlined{
        margin-right:5px;
    }
    .vui.share.button{
        position:absolute;
        bottom:70px;
        right:10px;
        display:none;
        justify-content:center;
        align-items:center;
        background-color:#C747A2;
        color:#fff;
        width:50px;
        height:50px;
        opacity:0.5;
        padding:0px;
        margin:0px;
        z-index:100;
    }
    .vui.mute.button{
        position:absolute;
        bottom:130px;
        right:10px;
        display:none;
        justify-content:center;
        align-items:center;
        background-color:ddd;
        color:#333;
        width:50px;
        height:50px;
        opacity:0.5;
        padding:0px;
        margin:0px;
        z-index:100;
    }
    .vui.mute.button.active{
        position:absolute;
        bottom:130px;
        right:10px;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:red;
        color:#fff;
        width:50px;
        height:50px;
        opacity:0.5;
        padding:0px;
        margin:0px;
        z-index:100;
    }
</style>
</head>
<body>
<%- include('./common/header',{'path':'broadcast','title':'ライブ配信'}) %>
<div class="vui main" style="position:relative;">
<div class="vui live">
<img class="image cast" src="<%= cast.profile_icon %>" alt="">
<span class="name cast">
<%= cast.name %>
</span>
<input type="text" id="aikotoba" class="vui input" style="width:calc(100% - 60px);margin-top:1rem;" placeholder="合言葉を設定する場合は入力してね！">
<button class="vui button big red icon left start-btn" style="margin-top:1rem;">
<span class="material-icons-outlined">bolt</span>
配信を始める
</button>
<audio id="audio" width="400px" autoplay muted playsinline></audio>
<div class="vui comments" style="display:none;"><!--flex-->
</div>
<div class="vui comment form" style="display:none;"><!--flex-->
<input type="text" class="vui input comment-txt">
<button class="vui button icon comment-submit" style="background-color:#fff;margin-left:10px;"><span class="material-icons-outlined">near_me</span></button>
</div>
</div>
<div class="vui mute button">
<span class="material-icons-outlined">mic_off</span>
</div>
<div class="vui share button" onclick="navigator.share({url: '<%= process.env.app_url %>@<%= cast.username %>',title: 'AEGIで<%= cast.name %>さんが配信中！\r\n#AEGI_LIVE',text: '',}).then(() => {console.log('succes')}).catch(e => {console.error(e)})">
<span class="material-icons-outlined">share</span>
</div>
<div class="vui guest count"><span class="material-icons-outlined">people</span>0人</div>
</div>
</div>
<script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.0.js"></script>
<script>
//コメントサーバーへ接続('◇')ゞ
var socket = io.connect("<%= process.env.wss_url %>");
//コメント関連
$(".comment-submit").click(function(){
if($(".comment-txt").val() !== ""){
socket.emit('comment',{
fromId : '<%= cast.username %>',
fromName : '<%= cast.name %>',
fromProfileIcon : '<%= cast.profile_icon %>',
toId : '<%= cast.username %>',
message : $(".comment-txt").val()
})
$(".comment-txt").val("");
}
})
//コメント来たよ(≧▽≦)
socket.on("comment",function(data,fn){
if(data.toId == "<%= cast.username %>"){
if(data.fromId == "<%= cast.username %>"){
var _comment = "<div class='item owner'>";
_comment += '<div class="userinfo">';
_comment += '<img class="userimage" src="'+data.fromProfileIcon+'"">';
_comment += '<div class="tweetinfo">';
_comment += '<span class="username">'+data.fromName+'・<span class="datetime" data-datetime="'+data.createdAt+'"></span></span>';
_comment += '<div class="tweet">'+data.message+'</div>';
_comment += '</div>';
_comment += '</div>';
_comment += '</div>';
}else{
var _comment = "<div class='item'>";
_comment += '<div class="userinfo">';
_comment += '<img class="userimage" src="'+data.fromProfileIcon+'"">';
_comment += '<div class="tweetinfo">';
_comment += '<span class="username">'+data.fromName+'・<span class="datetime" data-datetime="'+data.createdAt+'"></span></span>';
_comment += '<div class="tweet">'+data.message+'</div>';
_comment += '</div>';
_comment += '</div>';
_comment += '</div>';
}
$(".vui.comments").prepend(_comment);
}
})

socket.on("live_guest_count",function(data,fn){
    $(".vui.guest.count").html('<span class="material-icons-outlined">people</span>'+data.count+'人');
})

let localStream;

//配信スタートbtn click
var _live_status = false;
$(".start-btn").click(function(){
if(_live_status == false){
//ライブ配信ステータスをAPIへ送信
var data = {
castId:'<%= cast.username %>',
aikotoba:$("#aikotoba").val(),
liveStatus:true
}
$.post('<%= process.env.app_url %>api/v1/broadcast',data,null,"json");
// カメラ映像取得
navigator.mediaDevices.getUserMedia({video: false, audio: {channelCount: {ideal: 2, min: 1}}})
.then( stream => {
// 成功時にvideo要素にカメラ映像をセットし、再生
const audioElm = document.getElementById('audio');
audioElm.srcObject = stream;
audioElm.play();
// 着信時に相手にカメラ映像を返せるように、グローバル変数に保存しておく
localStream = stream;
}).catch( error => {
// 失敗時にはエラーログを出力
console.error('mediaDevice.getUserMedia() error:', error);
return;
});
//skyway start
const peer = new Peer("<%= cast.username %>",{
key: '4fa5667a-01e0-4038-baa4-880ef6e1e015',
debug: 3
});
peer.on('call', mediaConnection => {
mediaConnection.answer(localStream);
});
$(this).html('<span class="material-icons-outlined">bolt</span>配信を終わる');
$(".vui.button.mute").css("display","flex");
$(".vui.button.share").css("display","flex");
$(".vui.comments").css("display","flex");
$(".vui.comment.form").css("display","flex");
$("#aikotoba").css("display","none");
socket.emit("broadcast_connect",{
liveId: '<%= cast.username %>'
});
_live_status = true;
}else{
//ライブ配信ステータスをAPIへ送信
var data = {
castId:'<%= cast.username %>',
aikotoba:'',
liveStatus:false
}
$.post('<%= process.env.app_url %>api/v1/broadcast',data,null,"json").done(function(data, textStatus, jqXHR){
    socket.emit("live_end",{
        liveId : '<%= cast.username %>'
    })
    _live_status = false;
    location.href = "<%= process.env.app_url %>broadcast/end";
}).fail(function(jqXHR, textStatus, errorThrown){
  alert("配信を終了することができませんでした");
});;
}
})

socket.on('live_time_update',function(data,fn){
$(".vui.header .center").text(data.liveTime);
})

//audio関連
$(".vui.mute.button").click(function(){
var audioTrack = localStream.getAudioTracks()[1];
if(audioTrack.enabled == true){
audioTrack.enabled = false
$(this).addClass("active");
}else if(audioTrack.enabled == false){
audioTrack.enabled = true
$(this).removeClass("active");
}
})
document.getElementById('audio').addEventListener("timeupdate",(event) => {
socket.emit('live_time_update',{
    liveId:'<%= cast.username %>',
    liveTime:toHms(Math.floor(document.getElementById('audio').currentTime))
})
socket.emit('live_guest_count',{castId:'<%= cast.username %>'});
})
function toHms(t) {
var hms = "";
var h = t / 3600 | 0;
var m = t % 3600 / 60 | 0;
var s = t % 60;
if (h != 0) {
hms = padZero(h) + ":" + padZero(m) + ":" + padZero(s);
} else if (m != 0) {
hms = padZero(m) + ":" + padZero(s);
} else {
hms = "00:" + padZero(s);
}
return hms;
function padZero(v) {
if (v < 10) {
return "0" + v;
} else {
return v;
}
}
}
//日付処理...
moment.tz.setDefault("Asia/Tokyo");
const countUp = () => {
$('.datetime').each(function(index, element){
var postDate = new Date($(element).data('datetime'));
$(element).text(moment(postDate.toISOString()).fromNow());
});
}
setInterval(countUp, 1000);
</script>
<%- include('./common/footer',{'path':'live'}) %>
</body>
</html>
